.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
    .table-responsive-query{
        overflow: auto;
        width: 100%;
    }
 }

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
    .table-responsive-query{
        overflow: auto;
        width: 100%;
    }
}

@media (max-width: 1400px) {
    .table-responsive-query{
        overflow: auto;
        width: 100%;
    }
}

@media (max-width: 1600px) {
    .table-responsive-query{
        overflow: auto;
        width: 100%;
    }
}


#scrollarea-invalid {
    height: 550px;
    }
    #scrollarea-content{
      min-height:101%;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }