.centerContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictureCell{
    display: flex;
    align-items: center;
}




table {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

	table td {
    border-width: 1px;
    border-style: solid;
    border-color: black;     
   }
   table th {
    border-width: 1px;
    border-style: solid;
    border-color: black;
   
}

table th.resizing {
    cursor: col-resize;
}

td {
       height:"50px";
       max-width: 250px;
       white-space: nowrap;
       text-overflow: ellipsis;
       overflow: hidden;
      
}

.text-right{
  overflow:visible
}

.loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  table{
    margin-left: 15px;
  }

  table th {
    position: -webkit-sticky; // this is for all Safari (Desktop & iOS), not for Chrome
    position: sticky;
    top: 0;
    z-index: 5;    
  }

  table  td { padding: 10px; }


  #scrollarea-invalid {
    height: 550px;
    }
    #scrollarea-content{
      min-height:101%;
  }

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }

  .checkPadding{
    padding-left: 20px;
    padding-right: 20px;
  }