<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
        <div class="row">

          <div *ngFor="let entity of  entities$|async; let i = index" style="padding:20px"  class="col-xl-3 col-sm-4 col-md-4 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style="cursor:grab" (click)="getShopifyProductsByVendor(entity.vendorId,entity)" >
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Catalogo {{i+1}}</h5>
                    <span class="h2 font-weight-bold mb-0">{{ entity.name }}</span>
                  </div>
                  <div class="col-auto">
                    <a href="javascript:void(0)" (click)="ShowPicture(entity.photoUrl)"  class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                      <img style="width:30px;height: 30px;" alt="Image placeholder" 
                        [src]="entity.photoUrl ? appENV.imagesUrl+entity.photoUrl : appENV.defaultImage"
                        class="avatar rounded-circle">
                    </a>
                  </div>
                  <p class="mt-3 mb-3 text-muted text-xs" style="text-align: center; width:100%;">
                    <span class="text-default mr-1 ">
                      {{ entity.vendorId }}</span>                    
                  </p>
                </div>
              </div>
            </div>
          </div> 

          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0" style="background-color: #333364;">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">CATALOGOS</h5>
                    <span class="h2 font-weight-bold mb-0">
                      
                    </span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-plus bg-danger text-white rounded-circle shadow centerContent">
                      <i class="fas fa-plus"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm" style="cursor: grab;">
                  <span class="text-white mr-2" (click)="createSupplier()">
                    <i class="fa fa-arrow-up"></i> Crear Nuevo</span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>  


          <button type="button" *ngIf="currentVendor"
           class="btn btn-outline-dark" (click)="removeVendorFilter()" >Remover filtro de catalogo</button>
        
     
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header bg-transparent">
            <h3 class="mb-0">Productos</h3>
          </div>
          <div class="card-body">

            <div class="row">
              
              <div class="col-lg-6 col-md-6">
                <!--
                <div class="custom-control custom-radio mb-3">
                  <input (change)="onCheckChange('list', $event.target.checked)" [checked]="viewMode === 'list'"
                   name="custom-radio-2" class="custom-control-input" id="customRadio5" type="radio">
                  <label class="custom-control-label" for="customRadio5">Lista</label>
                </div>
                <div class="custom-control custom-radio mb-3">
                  <input (change)="onCheckChange('miniature', $event.target.checked)" [checked]="viewMode === 'miniature'"
                  name="custom-radio-2" class="custom-control-input" id="customRadio6" type="radio">
                  <label class="custom-control-label" for="customRadio6">Miniatura</label>
                </div>
                -->
              </div>
  
              <div class="col-lg-6 col-md-6">
                <input class="form-control" placeholder="Buscar"
                type="text" (focus)="focus = true"
                (input)="onSearchChange($event.target.value)"
                (blur)="focus = false">
              </div>

            </div>
            <div class="row container" > <b>Seleccionador de columnas:</b> </div>
            <div class="row container">

              <div class="custom-control custom-checkbox mb-4 checkPadding">
                <input  (change)="onCheckChange3('Title', $event.target.checked)" [checked]="isRowChecked('Title')" class="custom-control-input" id="customCheck1" type="checkbox">
                <label class="custom-control-label" for="customCheck1">Title</label>
              </div>

              <div class="custom-control custom-checkbox mb-4 checkPadding">
                <input (change)="onCheckChange3('body_html', $event.target.checked)" [checked]="isRowChecked('body_html')" class="custom-control-input" id="customCheck2" type="checkbox">
                <label class="custom-control-label" for="customCheck2">body_html</label>
              </div>

              <div class="custom-control custom-checkbox mb-4 checkPadding">
                <input (change)="onCheckChange3('vendor', $event.target.checked)" [checked]="isRowChecked('vendor')"  class="custom-control-input" id="customCheck3" type="checkbox">
                <label class="custom-control-label" for="customCheck3">vendor</label>
              </div>

              <div class="custom-control custom-checkbox mb-4 checkPadding">
                <input (change)="onCheckChange3('product_type', $event.target.checked)" [checked]="isRowChecked('product_type')"  class="custom-control-input" id="customCheck4" type="checkbox">
                <label class="custom-control-label" for="customCheck4">product_type</label>
              </div>

              <div class="custom-control custom-checkbox mb-4 checkPadding">
                <input (change)="onCheckChange3('handle', $event.target.checked)" [checked]="isRowChecked('handle')" class="custom-control-input" id="customCheck5" type="checkbox">
                <label class="custom-control-label" for="customCheck5">handle</label>
              </div>

              <div class="custom-control custom-checkbox mb-4 checkPadding">
                <input  (change)="onCheckChange3('tags', $event.target.checked)" [checked]="isRowChecked('tags')" class="custom-control-input" id="customCheck6" type="checkbox">
                <label class="custom-control-label" for="customCheck6">tags</label>
              </div>

            </div>
           

           
            <div *ngIf="loading" class="loader" style="background:black" >Loading...</div>
           
            <div *ngIf="loading == false" class="table-responsive" id="scrollarea-invalid">
            
              <div class="row" *ngIf="viewMode === 'miniature' ">
                  <div  *ngFor=" let product of  products " class="col-lg-4 col-md-6 col-sm-6" >
                      <div class="card" style="width: 18rem; height:500px; margin:35px">
                          <img class="card-img-top"  style="width:200px;height:200px" [src]="product.image?.src" alt="Card image cap">
                          <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                            <p style="font-size: 11px;" class="card-text">{{ product.body_html }}</p>
                            <a style="width:100%" href="#" class="btn btn-primary">Ver</a>
                          </div>
                      </div>
                  </div>                  
                
              </div>

              <div class="row" *ngIf="viewMode === 'list' " id="scrollarea-content" >

                <div class="container">      
                    
                  <ngb-tabset [destroyOnHide]="false" (tabChange)="onTabChange($event)" >
                    
                    <ngb-tab>
                      <ng-template   ngbTabTitle>
                        <div (click)="checkTabType('combinedList')"> Lista Combinada </div>
                      </ng-template>
                      <ng-template   ngbTabContent>
                        <p>Esta lista incluye los datos originales y la simulación de arreglos</p>
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table align-items-center table-flush">
                          <thead class="thead-light">
                            <tr>
                              <th scope="col">id</th>
                              <th *ngIf="isRowChecked('Title')" scope="col">title</th>
                              <th *ngIf="isRowChecked('body_html')" scope="col">body_html</th>
                              <th *ngIf="isRowChecked('vendor')" scope="col">vendor</th>
                              <th *ngIf="isRowChecked('product_type')" scope="col">product_type</th>
                              <th *ngIf="isRowChecked('handle')" scope="col">handle</th>
                              <th *ngIf="isRowChecked('tags')" scope="col">tags</th>
                              <th scope="col">opciones</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!--<tr *ngFor="let entity of (entities$ | async)">-->
                            <tr *ngFor=" let product of  fullListWithPagination() "  [ngStyle]="{'background-color': (product.mode=='test') ? 'cornsilk' : 'white'}" > 
                              <td>
                                <div class="pictureCell">
                                <a href="javascript:void(0)" (click)="ShowPictureByUrl(product.image?.src)"  
                                class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                  <img style="width:30px;height: 30px;" alt="Image placeholder" 
                                    [src]="product.images[0]?.src"
                                    class="avatar rounded-circle">
                                </a>
                                <span style="margin-left: 15px;">{{ product.originalId ? product.originalId : product.id }}</span>
                                
                                </div>
                              </td>
        
                              <td *ngIf="isRowChecked('Title')" (dblclick)="openCell($event)">
                                {{ product.title }}
                              </td>
        
                              <td *ngIf="isRowChecked('body_html')" (dblclick)="openCell($event)">
                                {{ product.body_html }}
                              </td>
        
                              <td *ngIf="isRowChecked('vendor')">
                                <div>{{ product.vendor }}</div>
                              </td>
        
                              <td *ngIf="isRowChecked('product_type')">
                                <div>{{ product.product_type }}</div>
                              </td>
        
                              <td *ngIf="isRowChecked('handle')">
                                <div>{{ product.handle }}</div>
                              </td>
        
                              <td *ngIf="isRowChecked('tags')" (dblclick)="openCell($event)">
                                {{ product.tags }}
                              </td>
                                  
                              <td class="text-right">
                                <div ngbDropdown placement="bottom-right">
                                  <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                    <i class="fas fa-ellipsis-v"></i>
                                  </a>
                                  <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                    <a class="dropdown-item" (click)="watchVariants(product)" href="javascript:void(0)">Ver variantes</a>
                                  </div>
                                </div>
                              </td>
        
        
                            </tr>
                          </tbody>
                        </table>
                      </ng-template>
                    </ngb-tab>
                      
                    <ngb-tab [disabled]="!currentSupplier">
                      <ng-template ngbTabTitle>
                        <div (click)="checkTabType('pureList')"> Lista </div>
                      </ng-template>
                      <ng-template  ngbTabContent>
                          <p>Esta lista incluye unicamente los datos originales</p>
                          <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">id</th>
                                <th *ngIf="isRowChecked('Title')" scope="col">title</th>
                                <th *ngIf="isRowChecked('body_html')" scope="col">body_html</th>
                                <th *ngIf="isRowChecked('vendor')" scope="col">vendor</th>
                                <th *ngIf="isRowChecked('product_type')" scope="col">product_type</th>
                                <th *ngIf="isRowChecked('handle')" scope="col">handle</th>
                                <th *ngIf="isRowChecked('tags')" scope="col">tags</th>
                                <th scope="col">opciones</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!--<tr *ngFor="let entity of (entities$ | async)">-->
                              <tr *ngFor=" let product of  filteredByPureWithPagination() "  [ngStyle]="{'background-color': (product.mode=='test') ? 'cornsilk' : 'white'}" > 
                                <td>
                                  <div class="pictureCell">
                                  <a href="javascript:void(0)" (click)="ShowPictureByUrl(product.image?.src)"  
                                  class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                    <img style="width:30px;height: 30px;" alt="Image placeholder" 
                                      [src]="product.images[0]?.src"
                                      class="avatar rounded-circle">
                                  </a>
                                  <span style="margin-left: 15px;">{{ product.id }}</span>
                                  
                                  </div>
                                </td>
          
                                <td *ngIf="isRowChecked('Title')" (dblclick)="openCell($event)">
                                  {{ product.title }}
                                </td>
          
                                <td *ngIf="isRowChecked('body_html')" (dblclick)="openCell($event)">
                                  {{ product.body_html }}
                                </td>
          
                                <td *ngIf="isRowChecked('vendor')">
                                  <div>{{ product.vendor }}</div>
                                </td>
          
                                <td *ngIf="isRowChecked('product_type')">
                                  <div>{{ product.product_type }}</div>
                                </td>
          
                                <td *ngIf="isRowChecked('handle')">
                                  <div>{{ product.handle }}</div>
                                </td>
          
                                <td *ngIf="isRowChecked('tags')" (dblclick)="openCell($event)">
                                  {{ product.tags }}
                                </td>
                                    
                                <td class="text-right">
                                  <div ngbDropdown placement="bottom-right">
                                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                      <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                      <a class="dropdown-item" (click)="watchVariants(product)" href="javascript:void(0)">Ver variantes</a>
                                    </div>
                                  </div>
                                </td>
          
          
                              </tr>
                            </tbody>
                          </table>
                      </ng-template>
                    </ngb-tab>
                      
                    <ngb-tab [disabled]="!currentSupplier" >
                      <ng-template ngbTabTitle>
                        <div (click)="checkTabType('testList')"> Correcciones </div>
                      </ng-template>
                      <ng-template  ngbTabContent>
                          <p>Esta lista incluye unicamente los datos simulados de corrección</p>
                          <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                              <tr>
                                <th scope="col">id</th>
                                <th *ngIf="isRowChecked('Title')" scope="col">title</th>
                                <th *ngIf="isRowChecked('body_html')" scope="col">body_html</th>
                                <th *ngIf="isRowChecked('vendor')" scope="col">vendor</th>
                                <th *ngIf="isRowChecked('product_type')" scope="col">product_type</th>
                                <th *ngIf="isRowChecked('handle')" scope="col">handle</th>
                                <th *ngIf="isRowChecked('tags')" scope="col">tags</th>
                                <th scope="col">opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                              <!--<tr *ngFor="let entity of (entities$ | async)">-->
                              <tr *ngFor=" let product of  filteredByTestWithPagination() "  [ngStyle]="{'background-color': (product.mode=='test') ? 'cornsilk' : 'white'}" > 
                                <td>
                                  <div class="pictureCell">
                                  <a href="javascript:void(0)" (click)="ShowPictureByUrl(product.image?.src)"  
                                  class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                                    <img style="width:30px;height: 30px;" alt="Image placeholder" 
                                      [src]="product.images[0]?.src"
                                      class="avatar rounded-circle">
                                  </a>
                                  <span style="margin-left: 15px;">{{ product.id - 1 }}</span>
                                  
                                  </div>
                                </td>
          
                                <td *ngIf="isRowChecked('Title')" (dblclick)="openCell($event)">
                                  {{ product.title }}
                                </td>
          
                                <td *ngIf="isRowChecked('body_html')" (dblclick)="openCell($event)">
                                  {{ product.body_html }}
                                </td>
          
                                <td *ngIf="isRowChecked('vendor')">
                                  <div>{{ product.vendor }}</div>
                                </td>
          
                                <td *ngIf="isRowChecked('product_type')">
                                  <div>{{ product.product_type }}</div>
                                </td>
          
                                <td *ngIf="isRowChecked('handle')">
                                  <div>{{ product.handle }}</div>
                                </td>
          
                                <td *ngIf="isRowChecked('tags')" (dblclick)="openCell($event)">
                                  {{ product.tags }}
                                </td>
                                    
                                <td class="text-right">
                                  <div ngbDropdown placement="bottom-right">
                                    <a class="btn btn-sm btn-icon-only text-light"  ngbDropdownToggle>
                                      <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div ngbDropdownMenu class=" dropdown-menu-right dropdown-menu-arrow">
                                      <a class="dropdown-item" (click)="watchVariants(product)" href="javascript:void(0)">Ver variantes</a>
                                    </div>
                                  </div>
                                </td>
          
          
                              </tr>
                            </tbody>
                          </table>
                      </ng-template>
                    </ngb-tab>                
                      
                  </ngb-tabset>
                </div>

               

              </div>

        
            
            
            </div>

            <div>
              <div class="row">
                <div class="col-lg-3 col-md-3" >
                  <br/>
                  <button type="button" *ngIf="!loading"  (click)="openRulesModal()" class="btn btn-default">Probar reglas</button>
                </div>                
              </div>
              <div class="row" style="overflow: scroll;" >
                
                  
                  <table-footer *ngIf="products.length > 0" [entities]="footerData()" [rowsPerPage]="rowsPerPage" (pageChanged)="onPageChange($event)" ></table-footer>

               
              </div>
             
            </div>           
            
          </div>
        </div>
      </div>
    </div>
  </div>

  
  

  <app-picture-modal [picture]="supplierImage" ></app-picture-modal>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ selectedProduct?.title  }} Variantes</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">id</th>
              <th scope="col">title</th>
              <th scope="col">option</th>
              <th scope="col">sku</th>
              <th scope="col">price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let product of  selectedProduct?.variants " >
              <td>{{ product.id }}</td>
              <td>{{ product.title }}</td>
              <td>{{ product.option1 }}</td>
              <td>{{ product.sku }}</td>
              <td>{{ product.price }}</td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>
    <div class="modal-footer">
      <div class="avatar-group" *ngFor=" let image of  selectedProduct?.images "  >
       
        <a href="javascript:void(0)" (click)="ShowPictureByUrl(image.src)" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
          <img style="width:30px;height: 30px;" alt="Image" [src]="image.src" class="rounded-circle">
        </a>
       
      </div>
      <!--
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      -->  
    </div>
  </ng-template>



  <ng-template #content2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Reglas disponibles</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="col-lg-6 col-md-6">
        <input class="form-control" placeholder="Buscar regla"
        type="text" (focus)="focus = true"
        (input)="onSearchChange2($event.target.value)"
        (blur)="focus = false">
      </div>
      <br/>
      <div class="table-responsive">
        <table class="table align-items-center table-dark table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">regla</th>
              <th scope="col">operación</th>
              <th scope="col">Campos a verificar</th>
              <th scope="col">Campos seleccionados</th>
              <th scope="col">si/entonces</th>
              <th scope="col">similaridad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let rule of  getSupplierRules() " >               
              <td>
                <div class="form-check">
                  <input type="checkbox"(change)="onCheckChange2(rule, $event.target.checked)" [checked]="isItemChecked(rule.id)">
                  <label class="form-check-label" style="margin-left: 5px;" for="exampleCheck1">{{ getRuleTypeName(rule.ruleType)  }}</label>
                </div> 
              </td>
              <td>{{ rule.operationType }}</td>
              <td>{{ rule.fieldsToCheck }}</td>
              <td>{{ rule.selectedFields }}</td>
              <td>{{ rule.if }} / {{ rule.then }}</td>
              <td>{{ rule.similarity }}</td>
            </tr>
          </tbody>
        </table> 
      </div>
    </div>
    <div class="modal-footer">     
      
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Probar</button>
        
    </div>
  </ng-template>